:root{
  --bg: #7a45ff;
  --player1: #fe6689;
  --player2: #ffce68;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  flex-direction: row;
  
  background-color: var(--bg);
}

#main-app{
  display: flex;
  justify-content: center;
  align-items: center;
  
  gap: 3vw
}

div{
  box-sizing: border-box;
  display: inline-block;
}

.player-card{
  border: 1px solid black;
  width: 20vw;
  height: 20vw;
  
  max-width: 20vh;
  max-height: 20vh;
}

.game-field{
  height: 43vw;
  max-height: 60vh;
  width: 50vw;
  max-width: 70vh;
  border: 1px solid black;

  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1vw;
  padding: 1vw;
  border-radius: 10px;
  background-color: white;
}

.hole{
  border: 1px solid black;
  border-radius: 50%;
  background-color: var(--bg);
  /* overflow: hidden; */
  position: relative;
}

.hole::before{
  content: "";
  width: 100%;
  height: 100%;
  top: 3px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0px -3px 0px black;
  z-index: 1;
}
  .coin{
    margin-top: 1px;
    width: 100%;
    height: 100%;
    box-shadow: 0px -1px 0px black;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
  }
  
  .player1{
    background-color: var(--player1);
  }
  
  .player2{
    background-color: var(--player2);
  }

  .hover-area{
    padding: 1vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 43vw;
    gap: 1vw;

    max-height: 60vh;
    width: 50vw;
    max-width: 70vh;
    position: absolute;
    z-index: 99;
  }

  .hover-area>div{
    height: calc(100% + 30px);
    margin-top: -30px;
    border-radius: 10px;
    position: relative;
  }

  .hover-area>div:hover{
    background-color: rgba(211, 211, 211, 0.292);
    cursor: pointer;
  }

  .hover-area .marker{
    position: absolute;
    width: 5vw;
    height: 5vw;

    max-width: 25px;
    max-height: 25px;

    background-color: red;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-15px) rotate(45deg);
    border-radius: 50% 50% 0% 50%;
    transform-origin: center;
    border: 2px solid black;
  }

  .player-card{
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-top: 3rem;
    padding-bottom: 1rem;
  }

  .player-card h2{
    text-transform: uppercase;
    margin: 0;
    margin-top: 20px;
  }

  .player-card>.smiley{
    width: 4rem;
    height: 4rem;
    top: -2rem;
    position: absolute;
    border-radius: 50%;
    background-color: red;
    border: 2px solid black
  }

  @media screen and (max-width: 600px) {

    /* #main-app{
      flex-direction: column;
      gap: 50px;
    } */

    .player-card>.smiley{
      width: 3rem;
      height: 3rem;
      top: -1.5rem;
    }

    h1{
      font-size: 1.5rem;
      margin-top: 5px;
    }

    h2{
      font-size: 1rem;
    }
  }